<html>
<head>
<title>WHAT HAVE WE HERE?</title>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="whwh.js"></script>
<script type="text/javascript">

$(function() {
  
  function showMessage(message, append) {
    if (!append) {
      $(".message").remove();
    }
    $("#ui").before($("<div>").attr("class", "message").text(message));
  }

  function initUi(data) {
    if (data.status != "ok") {
      showMessage("Sorry, there was a problem looking up what's here.", 1); 
    }
    else if (data.results && data.results.length) {
      whwh.renderTieredResults(data.results, $("#ui"));
    }
    else {
      showMessage("Sorry, there doesn't seem to be anything interesting nearby.");
    }
  }

  var responded = false;
  if (whwh.getLocation(function(err, geoloc) {
    responded = true;
    if (err) {
      showMessage("Sorry, there was some problem finding your location.");
    }
    else {
      showMessage("You are at " + whwh.printLocation(geoloc));
      whwh.queryLocation(geoloc)
        .done(initUi)
        .fail(function(hdr, error) {
          showMessage("Sorry, there was a problem reaching the What Have We Here? server", 1); 
        });
    }
  })) {
    if (!responded) showMessage("Finding your location...");
  }
  else {
    showMessage("Sorry, geolocation is not available in this browser");
  }
});
</script>
<style>
body {
  font-family: Arial, Helvetica;
}
div {
  margin: 8px 0px;
}
div.tier-results {
  margin-left: 8px;
}
span.h1 {
  color: #808;
  font-size: 24px;
  font-weight: bold;
}
span.tier-heading {
  color: #c06;
  font-weight: bold;
}
</style>
</head>
<body>
<div><span class="h1">WHAT HAVE WE HERE?</span></div>
<div class="message">Loading...</div>
<div id="ui"></div>
<div>If you'd prefer to enter a location manually, <a href="there.html">click here.</a></div>
</body>
</html>
